:root {
  --fg: #d4d4d4;
  --bg: #020202;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--fg) !important;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.label {
  color: color-mix(in srgb, var(--fg) 50%, transparent 50%);
  font-size: 0.9em;
}

.input > div {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.input > div > input {
  background-color: transparent;
  box-shadow: none;
  color: var(--fg);
  border: 1px solid color-mix(in srgb, var(--fg) 50%, transparent 50%);
  border-radius: 0.3em;
  padding: 0.7em 1em;
  transition-duration: 0.3s;
  flex: 2;
}

.input > div > input:hover {
  box-shadow: 0 0 3px color-mix(in srgb, var(--fg) 70%, transparent 20%);
}

.input > div > input:focus {
  outline: none;
  box-shadow: 0 0 5px color-mix(in srgb, var(--fg) 70%, transparent 20%);
}

.input > div > button {
  padding: 0.7em 1em;
  cursor: pointer;
  background: color-mix(in srgb, var(--fg) 5%, var(--bg) 95%);
  color: var(--fg);
  border-radius: 0.3em;
  border: 1px solid color-mix(in srgb, var(--fg) 10%, transparent 90%);
  transition-duration: 0.3s;
}

.download-btn {
  padding: 0.7em 1em;
  font-size: 1em;
  background: color-mix(in srgb, var(--fg) 5%, var(--bg) 95%);
  color: var(--fg);
  border-radius: 0.3em;
  border: 1px solid color-mix(in srgb, var(--fg) 10%, transparent 90%);
  cursor: pointer;
  transition-duration: 0.3s;
  flex: 1;
}

.download-btn:hover,
.input > div > button:hover {
  background: color-mix(in srgb, var(--fg) 10%, var(--bg) 90%);
}

.download-btn:active,
.input > div > button:active {
  background: color-mix(in srgb, var(--fg) 12%, var(--bg) 88%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  flex: 1;
  padding: 1em;
  border: 1px solid color-mix(in srgb, var(--fg) 10%, transparent 90%);
  border-radius: 0.3em;
  height: 80dvh;
  overflow-y: auto;
  scrollbar-color: color-mix(in srgb, var(--fg) 10%, transparent 90%)
    transparent;
  scrollbar-width: thin;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.log {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  overflow-y: auto;
}

.img {
  width: 60%;
}

.c {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.status {
  font-size: 0.9em;
  transition-duration: 0.3s;
}

.status.red {
  color: color-mix(in srgb, red 70%, var(--fg) 30%);
}

.status.green {
  color: color-mix(in srgb, green 70%, var(--fg) 30%);
}

.status.hide {
  opacity: 0 !important;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.theme-switch {
  background-color: transparent;
  color: var(--fg);
  border: none;
  cursor: pointer;
}

.theme-switch > i {
  font-size: 2em;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.download-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 1.3em;
}

/* I KNOW THIS WON'T GET RUN AT A MOBILE PHONE
    Unless.. Windows ARM image running in POCO X3 Pro
    Read https://www.reddit.com/r/Windows11/comments/1h9bblk/i_managed_to_run_windows_11_on_a_phone/
*/
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .container {
    overflow-y: hidden;
  }
  .img {
    width: 100%;
  }
}
